<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css" />
    <title>UGAAMUX</title>
  </head>
  <body>
    <div>
      <nav></nav>
    </div>
    <div>
      <div class="hero-title">
        <h1>UGAAMUX</h1>
      </div>
      <div class="article">
        <p>
          UGAAMUX is a national performing artists archive which was sponsored
          by the Uganda National Cultural Centre together with the Uganda
          Performing Arts Association
        </p>
      </div>
    </div>

    <div class="container">
      <div class="title">
        <h3>ARTISTS.</h3>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="/media/artist1.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-3">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-3">
          <img src="/media/artist3.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-3">
          <img src="/media/artist4.jpg" alt="" class="myimage"/>
        </div>
      </div>
      <div class="link">
          <a href="/selection">See more.</a>
      </div>
    </div>
    
    <div class="container">
      <div class="title">
        <h3>BANDS.</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
      </div>
      <div class="link">
          <a href="/selection">See more.</a>
      </div>
    </div>

    <div class="container">
      <div class="title">
        <h3>LABELS.</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
        <div class="col-4">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
      </div>
      <div class="link">
          <a href="/selection">See more.</a>
      </div>
    </div>

    <div class="container">
      <div class="title">
        <h3>PARTNERS.</h3>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="/media/uncc.png" alt="" class="myimage"/>
        </div>
        <div class="col-6">
          <img src="/media/artist2.jpg" alt="" class="myimage"/>
        </div>
      </div>
    </div>

    <footer>
      <div>
        <div>
          <h3>Contact us.</h3>
        </div>
        <div></div>
      </div>
    </footer>
  </body>
</html>
