<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/musicArtist_form.css" />
  </head>
  <body>
    <h2>Music Artist Form.</h2>
    <form id="app">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="input-field">
              <label for="Full Name">Full Name</label>
              <input type="text" />
              <ul v-if="fullNameError" style="color: red;">Full Name required.</ul>
            </div>
            <div class="input-field">
              <label for="Stage Name">Stage Name</label>
              <input type="text" />
              <ul v-if="stageNameError" style="color: red;">Stage Name required.</ul>
            </div>
            <div class="input-field">
              <label for="Date Of Birth">Date Of Birth</label>
              <input type="date" />
              <ul v-if="dateOfBirthError" style="color: red;">Date of birth required.</ul>
            </div>
            <div class="input-field">
              <label for="Location">Location</label>
              <input type="text" />
              <ul v-if="baseLocationError" style="color: red;">Base Location required.</ul>
            </div>
          </div>

          <div class="col-3">
            <div class="input-field">
              <label for="Profile">Profile</label>
              <input type="text" />
              <ul v-if="profileError" style="color: red;">Profile required.</ul>
            </div>
            <div class="input-field">
              <label for="NIN">NIN</label>
              <input type="text" />
              <ul v-if="NINError" style="color: red;">NIN required.</ul>
            </div>
            <div class="input-field">
              <label for="Current Location">Current Location</label>
              <input type="text" />
              <ul v-if="currentLocationError" style="color: red;">Current Location required.</ul>
            </div>
            <div class="input-field">
              <label for="Gender">Gender</label>
              <br>
              <input type="radio" name="sex" value="Male" /><span>Male</span>
              <input type="radio" name="sex" value="Female" /><span>Female</span>
              <ul v-if="genderError" style="color: red;">Gender required.</ul>
            </div>
          </div>

          <div class="col-3">
            <div class="input-field">
              <label for="Number of albums">Number of albums</label>
              <input type="text" />
              <ul v-if="numberOfAlbumsError" style="color: red;">Number of albums required.</ul>
            </div>
            <div class="input-field">
              <label for="Artist ID">Artist ID</label>
              <input type="text" />
              <ul v-if="artistIDError" style="color: red;">ArtistID required.</ul>
            </div>
            <div class="input-field">
              <label for="When did you start singing"
                >When did you start singing</label>
              <input type="date" />
              <ul v-if="dateOfStartError" style="color: red;">Date of start required.</ul>
            </div>
            <div class="input-field">
              <label for="Contact">Contact</label>
              <input type="tel" />
              <ul v-if="contactError" style="color: red;">Contact required.</ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" id="sub-btn" v-on:click="registerArtist">
          Submit
        </button>
        <button type="reset" id="res-btn">Reset</button>
      </div>
    </form>
    <div>
      <p>Already have an account? <a href="">log in</a></p>
    </div>
    <script src="/js/vue.js"></script>
    <script src="/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/js/artistValidate.js"></script>
  </body>
</html>
