<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/musicArtist_form.css" />
  </head>
  <body>
    <h2>Music Artist Form.</h2>
    <form id="app">
      <div class="section">
        <div class="input-field">
          <label for="Full Name">Full Name</label>
          <br /><br />
          <input type="text"/>
          <label v-if="firstNameError" style="color: red">Full Name required.</label>
        </div>
        <div class="input-field">
          <label for="Stage Name">Stage Name</label>
          <br /><br />
          <input type="text"/>
        </div>
        <div class="input-field">
          <label for="Date Of Birth">Date Of Birth</label>
          <br /><br />
          <input type="date" />
        </div>
        <div class="input-field">
          <label for="Location">Location</label>
          <br /><br />
          <input type="text" />
        </div>
      </div>

      <div class="section">
        <div class="input-field">
          <label for="Profile">Profile</label>
          <br /><br />
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="NIN">NIN</label>
          <br /><br />
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="Current Location">Current Location</label>
          <br /><br />
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="Gender">Gender</label>
          <br /><br />
          <input type="radio" name="sex" value="Male" /><span>Male</span>
          <input type="radio" name="sex" value="Female" /><span>Female</span>
        </div>
      </div>

      <div class="section">
        <div class="input-field">
          <label for="Number of albums">Number of albums</label>
          <br /><br />
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="Artist ID">Artist ID</label>
          <br /><br />
          <input type="text" />
        </div>
        <div class="input-field">
          <label for="When did you start singing"
            >When did you start singing</label
          >
          <br /><br />
          <input type="date" />
        </div>
        <div class="input-field">
          <label for="Contact">Contact</label>
          <br /><br />
          <input type="tel" />
        </div>
      </div>
      <div>
        <button type="submit" id="sub-btn"  v-on:click="registerArtist">Submit</button>
        <button type="reset" id="res-btn">Reset</button>
      </div>
    </form>
    <div>
      <p>Already have an account? <a href="">log in</a></p>
    </div>
    <script src="/js/vue.js"></script>
    <script src="/js/artistValidate.js"></script>
  </body>
</html>
