doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/musicBand_form.css')
h2 Music Band Form.
form#form-id(method='post' action='/musicBand_form')
  .container
    .row
      .col-3
        .input-field
          label(for='Band Name') Band Name
          input(type='text' name='bandname')
          small#bandname-error
        .input-field
          label(for='Owner') Band Owner
          input(type='text' name='bandowner')
        .input-field
          label(for='Band Home') Band Home
          input(type='text' name='bandhome')
      .col-3
        .input-field
          label(for='Number of Members') Number of Members
          input(type='text' name='members')
        .input-field
          label(for='Slogan') Band Slogan
          input(type='text' name='bandslogan')
        .input-field
          label(for='Band Icon') Band Icon
          input(type='text' name='bandicon')
        .input-field
          label(for='Names of Sponsors') Names of Sponsors
          input(type='text' name='sponsors')
      .col-3
        .input-field
          label(for='Date of Formation') Date of Formation
          input(type='date' name='formationdate')
        .input-field
          label(for='Albums') Number of Albums
          input(type='text' name='albumnumber')
        .input-field
          label(for='Category of Music') Category of Music
          input(type='text' name='musiccategory')
  #buttons
    button#sub-btn(type='submit' v-on:click='registerBand') Submit
    button#res-btn(type='reset') Reset
div
  p
    | Already have an account? 
    a(href='') log in
script(src='/js/vue.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/bandValidate.js')
