<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/musicLabel_form.css" />
  </head>
  <body>
    <h2>Music Label Form.</h2>
    <form id="app">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="input-field">
              <label for="Label Name">Label Name</label>
              <input type="text" />
            </div>
            <div class="input-field">
              <label for="Owner">Owner</label>
              <input type="text" />
            </div>
            <div class="input-field">
              <label for="Label Home">Label Home</label>
              <input type="text" />
            </div>
          </div>
    
          <div class="col-3">
            <div class="input-field">
              <label for="Number of Members">Number of Members</label>
              <input type="text" />
            </div>
            <div class="input-field">
              <label for="Slogan">Label Slogan</label>
              <input type="text" />
            </div>
            <div class="input-field">
              <label for="Label Icon">Label Icon</label>
              <input type="text" />
            </div>
          </div>
    
          <div class="col-3">
            <div class="input-field">
              <label for="Names of Sponsors">Names of Sponsors</label>
              <input type="text" />
            </div>
            <div class="input-field">
              <label for="Date of Formation">Date of Formation</label>
              <input type="date" />
            </div>
            <div class="input-field">
              <label for="Names of artists managed">Names of artists managed</label>
              <input type="text" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" id="sub-btn" v-on:click="registerLabel">Submit</button>
        <button type="reset" id="res-btn">Reset</button>
      </div>
    </form>
    <div>
      <p>Already have an account? <a href="">log in</a></p>
    </div>
    <script src="/js/vue.js"></script>
    <script src="/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/js/labelValidate.js"></script>
  </body>
</html>
