<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/musicBand_form.css" />
  </head>
  <body>
    <h2>Music Band Form.</h2>
    <form id="app">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="input-field">
              <label for="Band Name">Band Name</label>
              <input type="text" name="bandname"/>
            </div>
            <div class="input-field">
              <label for="Owner">Band Owner</label>
              <input type="text" name="bandowner"/>
            </div>
            <div class="input-field">
              <label for="Band Home">Band Home</label>
              <input type="text" name="bandhome"/>
            </div>
          </div>
    
          <div class="col-3">
            <div class="input-field">
              <label for="Number of Members">Number of Members</label>
              <input type="text" name="members"/>
            </div>
            <div class="input-field">
              <label for="Slogan">Band Slogan</label>
              <input type="text" name="bandslogan"/>
            </div>
            <div class="input-field">
              <label for="Band Icon">Band Icon</label>
              <input type="text" name="bandicon"/>
            </div>
            <div class="input-field">
              <label for="Names of Sponsors">Names of Sponsors</label>
              <input type="text" name="sponsors"/>
            </div>
          </div>
    
          <div class="col-3">
            <div class="input-field">
              <label for="Date of Formation">Date of Formation</label>
              <input type="date" name="formationdate"/>
            </div>
            <div class="input-field">
              <label for="Albums">Number of Albums</label>
              <input type="text" name="albumnumber"/>
            </div>
            <div class="input-field">
              <label for="Category of Music">Category of Music</label>
              <input type="text" name="musiccategory"/>
            </div>
          </div>
        </div>
      </div>
      <div id="buttons">
        <button type="submit" id="sub-btn" v-on:click="registerBand">Submit</button>
        <button type="reset" id="res-btn">Reset</button>
      </div>
    </form>
    <div>
      <p>Already have an account? <a href="">log in</a></p>
    </div>
    <script src="/js/vue.js"></script>
    <script src="/css/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/js/bandValidate.js"></script>
  </body>
</html>
