<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/selection.css" />
    <title>Ugaamux User Selection</title>
  </head>
  <body>
    <div class="selector">
      <h3>Which category do you fall in?</h3>
      <ul>
        <li>
          <a href="/musicArtist_form">Music Solo-artist</a>
        </li>
        <li>
          <a href="/musicBand_form">Music Band</a>
        </li>
        <li>
          <a href="/musicLabel_form">Music label</a>
        </li>
      </ul>
    </div>
  </body>
</html>
