body {
  font-family: Courier;
  text-align: center;
}

.myimage {
    width: 200px;
    height: 150px;
}

.link {
    padding-top: 20px;
}

.hero-title {
    background-image: url(/media/instruments.jpg);
    background-size: 1200px 500px;
    height: 500px;
}

h1 {
    padding-top: 200px;
    font-size: 60px;
}

.article {
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
}

.title {
    text-align: center;
    padding: 10px;
}

