body {
    text-align: center;
    font-family: Courier;
    padding: 20px;
}

.container {
    margin-left: 100px;
}

.col-3 {
    margin-right: 50px;
}

form label{
    padding: 10px;
    font-weight: bold;
}

.input-field {
    padding: 10px;
}

.input-field input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    align-items: center;
    margin-left: 250px;
}

button:hover {
    cursor: pointer;
    border: solid firebrick;
}

#res-btn {
    margin-left: 20px;
    margin-right: 250px;
}