body {
    text-align: center;
    font-family: Courier;
    padding: 20px;
}

.container {
    margin-left: 100px;
}

.col-3 {
    margin-right: 50px;
}

form label{
    padding: 10px;
    font-weight: bold;
}

.input-field {
    padding: 10px;
}

.input-field input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}


.section {
    float: left;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
}

button {
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    border: solid firebrick;
}

